.btn, .btn:hover {
    background: none;
    color: $brand-muted;
    margin-bottom: 0.8em; 
    border-radius: 0.5em;
    text-transform: uppercase; 
    border: 2px solid #fff;
}
.btn:active, .btn:active:focus, .btn:active:hover, .btn:focus {
    color: #fff;
    background-color: transparent;
    border-color: $brand-primary;
}
.modal .btn, .modal .btn:hover {
    background: $brand-primary; 
}
.modal .btn-default, .modal .btn-default:hover {
    background: $brand-muted;
    color: #333;
    border: 1px solid #ccc;
}