// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #e14f12;
$brand-darkest:         #8b2725;
$brand-font:            'Open Sans', sans-serif;


$brand-muted:           #ffffff;

