.desc-table table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: 1px solid rgb(221, 221, 221);
}
.desc-table table > tbody > tr > td, .desc-table table > tbody > tr > th, .desc-table table > tfoot > tr > td, .desc-table table > tfoot > tr > th, .desc-table table > thead > tr > td, .desc-table table > thead > tr > th {
    line-height: 1.42857;
    vertical-align: top;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(225, 79, 18);
}